<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Configuração</title>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div th:replace="fragments/header :: header">Header</div>
        <div class="container">
            <h2>Carteira do Usuário</h2>
            <div>
                <div>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <span>Nome</span>
                            <input type="text" th:field="${carteira.usuarioId.nome}" disabled="true"
                                   class="form-control" /> 
                            <br/>   
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <span>Email</span>
                            <input type="text" th:field="${carteira.usuarioId.email}" disabled="true"
                                   class="form-control" /> 
                            <br/>   
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <span>Saldo</span>
                            <input type="text" th:field="${carteira.saldo}" disabled="true"
                                   class="form-control" /> 
                            <br/>   
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <span>Moeda</span>
                            <input type="text" th:field="${carteira.criptomoedaId.nome}" disabled="true"
                                   class="form-control" /> 
                            <br/>   
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <span>Quantidade</span>
                            <input type="text" th:field="${carteira.saldoCriptomoeda}" disabled="true"
                                   class="form-control" />
                            <br/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <div class="btn-group" role="group" aria-label="...">
                                <a th:if="${carteira.ativo} == true" class="btn btn-danger btn-xs" th:href="@{/admin/carteira/inativar/{id}(id=${carteira.id})}">Inativar Carteira</a>
                                <a th:if="${carteira.ativo} == false" class="btn btn-primary btn-xs" th:href="@{/admin/carteira/ativar/{id}(id=${carteira.id})}">Ativar Carteira</a>
                                <a class="btn btn-danger btn-xs" th:href="@{/admin/carteira/reiniciar/{id}(id=${carteira.id})}">Reiniciar Carteira</a>
                                <a class="btn btn-primary btn-xs" th:href="@{/admin/voltarLista}">Voltar para Lista</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>