<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Histórico Carteira</title>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css"/>

        <style>
            @media print {
                #botoes {
                    display: none;
                }
            }
        </style>
        <style type="text/css" media="print">
            @page {
                size: auto;   /* auto is the initial value */
                margin: 0;  /* this affects the margin in the printer settings */
            }
        </style>
    </head>

    <body>
        <div th:replace="fragments/header :: header">Header</div>
        <div class="container">
            <h2>Historico de Transações</h2>
            <table class="table" id="transacoes" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Saldo Anterior</th>
                        <th>Saldo Atual</th>
                        <th>Criptomoeda Anterior</th>
                        <th>Criptomoeda Atual</th>
                        <th>Data</th>
                        <th>Tipo Transação</th>

                    </tr>
                </thead>
                <tbody>
                    <tr th:each="historico : ${historico}">
                        <td th:text="${historico.id}"></td>
                        <td th:text="${historico.valorAnteriorCarteira}"></td>
                        <td th:text="${historico.valorAtualCarteira}"></td>
                        <td th:text="${historico.quantidadeAnteriorCriptomoeda}"></td>
                        <td th:text="${historico.quantidadeAtualCriptomoeda}"></td>
                        <td th:text="${historico.dataHora}"></td>
                        <td th:text="${historico.tipoTransacao.tipo}"></td>
                    </tr>
                </tbody>
            </table>

            <div id="botoes" class="form-group">
                <div class="col-sm-9">
                    <div class="btn-group" role="group" aria-label="...">
                        <button class="btn btn-primary btn-xs" onclick="myFunction()">Imprimir</button>
                        <a class="btn btn-primary btn-xs" th:href="@{/user/voltarCarteiras}">Voltar para Lista de Carteiras</a>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function myFunction() {
                window.print();
            }
        </script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
        <script>
            $(document).ready( function () {
                $('#transacoes').DataTable();
            } );
        </script>
    </body>
</html>