<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Listar Carteiras</title>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css"/>

    </head>

    <body>
        <div th:replace="fragments/header :: header">Header</div>
        <div class="container">
            <h2>Minhas Carteiras</h2>
            <table class="table" id="minhasCarteiras" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>Criptomoeda</th>
                        <th>Saldo em R$:</th>
                        <th>Quantidade de Criptomoeda</th>
                        <th>Ativo</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="carteira : ${carteiras}">
                        <td></td>
                        <td th:text="${carteira.criptomoedaId.nome}"></td>
                        <td th:text="${carteira.saldo}"></td>
                        <td th:text="${carteira.saldoCriptomoeda}"></td>
                        <td th:text="${carteira.ativo}"></td>
                        <td>
                            <div >
                                <a class="btn btn-danger btn-xs" th:href="@{/user/carteira/deletar/{id}(id=${carteira.id})}">Excluir Carteira</a>
                            </div>
                        </td>
                        <td>
                            <div >
                                <a class="btn btn-primary btn-xs" th:href="@{/user/carteira/historico/{id}(id=${carteira.id})}">Historico Carteira</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
        <script>
            $(document).ready( function () {
                $('#minhasCarteiras').DataTable();
            } );
        </script>
    </body>
</html>